.header {
	width: 100%;
	height: 60px;
}

.header button {
	float: right;
	border-radius: 3px;
	font-size: 18px;
	color: whitesmoke;
	background-color: #ffc15e;
	border: 2px solid #FFC15E;
	opacity: 0.9;
	padding: 5px 10px;
	margin-top: 10px;
	margin-right: 8%;
}

.header button:hover {
	opacity: 1;
}

.header button:active {
	opacity: 1;
	outline: none;
}

.selections {
	margin: 0 8%;
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.9);
	padding: 10px;
}

.selection {
	height: 50px;
	position: relative;
}

.selection .s_left {
	width: 10%;
	height: inherit;
	float: left;
}

.selection .s_left:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.selection .s_left>label {
	font-size: 17px;
	line-height: 50px;
	margin-left: 10px;
}

.selection .unit_items,
.selection .device_items {
	width: 90%;
	height: inherit;
	float: left;
}

.right_item {
	margin-left: 10px;
	float: left;
	line-height: 50px;
	position: relative;
}

.right_item label {
	font-size: 16px;
}

.right_item label:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: underline;
}


/* 生成一个伪元素，作为美化版的单选按钮*/

.right_item input[type="radio"]+label::before {
	position: absolute;
	content: "";
	width: 5px;
	height: 10px;
	top: 10px;
	left: 6px;
	border: 2px solid #fff;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
}

.right_item input[type="radio"]:checked+label::before {
	background-color: #ffc15e;
	background-clip: content-box;
	padding: .2em;
}

.right_item input[type="radio"] {
	width: 16px;
	height: 16px;
}

.right_item input[type="datetime-local"] {
	opacity: 0.8;
}

.right_item input[type="datetime-local"]:hover {
	opacity: 0.8;
}

.right_item input[type="datetime-local"]:focus {
	opacity: 1;
}

.history_datashow,
.current_datashow {
	height: 720px;
	margin: 0 8%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	padding: 30px;
}

#history_chart > p {
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	letter-spacing: 0.05em;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	line-height: 500px;
}

#current_chart {
	height: inherit;
}

#history_chart {
	height: inherit;
	width: 100%;
}

#search_button {
	margin-left: 20px;
	color: white;
	background-color: #ffc15e;
	/*background-image: linear-gradient(120deg, #487eb0, #ffc15e);*/
	background-repeat: no-repeat;
	width: 60px;
	height: 30px;
	letter-spacing: 0.08em;
	font-size: 14px;
	opacity: 0.9;
	border: 2px solid #FFC15E;
	border-radius: 2px;
}

#search_button:hover {
	opacity: 1;
}

#search_button:active {
	opacity: 1;
}